<p-menubar [model]="items">
</p-menubar>
<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="symbol" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
        </span>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-4">
        <div class="product-list-item">
          <div class="product-list-detail">
            <div class="product-name">{{product.symbol}}</div>
            <div class="product-description">{{product.name}}</div>
            <div class="product-description">{{product.lastUpdated | date : 'dd MMMM'}}</div>
            <div class="product-description">{{product.seriesDateFa }}</div>
            <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
            Hourly: <span
              [ngClass]="( product.percentChange1h >= 0)?'product-category': 'product-category_red'">{{product.percentChange1h.toFixed(1)}}%</span>
            Daily: <span
              [ngClass]="( product.percentChange24h >= 0)?'product-category': 'product-category_red'">{{product.percentChange24h.toFixed(1)}}%</span>
            Weekly: <span
              [ngClass]="( product.percentChange7d >= 0)?'product-category': 'product-category_red'">{{product.percentChange7d.toFixed(1)}}%</span>
          </div>
          <div class="product-list-action">
            <span class="product-price" dir="rtl">{{product.coinPriceInRial.toFixed() | toman | c3}} تومان</span>
            <span class="product-price">{{product.price.toFixed(1) | currency}}</span>
            <!-- <p-button icon="pi pi-shopping-cart" label="Add to Cart"
              [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>